name = "cloudpilot-api"
main = "src/index.ts"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[dev]
port = 8787

[[d1_databases]]
binding = "DB"
database_name = "cloudpilot"
database_id = "local"

[env.preview]
name = "cloudpilot-api-preview"

[env.production]
name = "cloudpilot-api"
